.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: 0 20px;
}

.side-bar {
  position: fixed;
  top: 70px;
  left: 0;
  background-color: white;
  z-index: 1;
  height: 100vh;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 0 20px;
}
